.container {
    margin-top: 50px;
}

.challengesContainer {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 900px) {
    .challengesContainer {
        flex-direction: column;
    }
}