.container {
    width: 20%;
    background-color: #1c1f1d;
    padding: 20px;
    margin: 50px;
    margin-left: 0;
    min-width: 240px;
}

@media screen and (max-width: 800px) {
    .container {
        width: initial;
        margin: 20px 10px;
    }
  }