.chart {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}

.container {
    padding: 20px;
    background-color: #414141;
    margin-bottom: 20px;
    border-radius: 8px;
    min-width: 180px;
}