.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
}

@media screen and (max-width: 900px) {
    .topContainer {
        width: 60%;
        min-width: 350px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }
}